In [122]:
if __name__ == '__main__':
    %run Importing.ipynb
    %run Cleaning.ipynb
    %run Transforming.ipynb
    %run Sampling.ipynb

In [123]:
    myImports = Importing()
    url = "https://raw.githubusercontent.com/dayanaviana/WGU/main/datasources/churn_clean.csv"
    df = myImports.import_from_url(url)

Importing init
Imported
['Customer_id', 'Interaction', 'UID', 'City', 'State', 'County', 'Zip', 'Lat', 'Lng', 'Population', 'Area', 'TimeZone', 'Job', 'Children', 'Age', 'Income', 'Marital', 'Gender', 'Churn', 'Outage_sec_perweek', 'Email', 'Contacts', 'Yearly_equip_failure', 'Techie', 'Contract', 'Port_modem', 'Tablet', 'InternetService', 'Phone', 'Multiple', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaperlessBilling', 'PaymentMethod', 'Tenure', 'MonthlyCharge', 'Bandwidth_GB_Year', 'Item1', 'Item2', 'Item3', 'Item4', 'Item5', 'Item6', 'Item7', 'Item8']

In [124]:
    myCleaning = Cleaning(df)
    list_to_remove = ["Customer_id","Interaction","UID","State","TimeZone","City","County","Zip","Lat","Lng","Job","Item1","Item2","Item3","Item4","Item5","Item6","Item7","Item8"]
    myCleaning.remove_columns(list_to_remove)
    df = myCleaning._df

Cleaning init
Columns Removed.
['Population', 'Area', 'Children', 'Age', 'Income', 'Marital', 'Gender', 'Churn', 'Outage_sec_perweek', 'Email', 'Contacts', 'Yearly_equip_failure', 'Techie', 'Contract', 'Port_modem', 'Tablet', 'InternetService', 'Phone', 'Multiple', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaperlessBilling', 'PaymentMethod', 'Tenure', 'MonthlyCharge', 'Bandwidth_GB_Year']

Complete details in df_info.txt file

In [125]:
    categorical_columns_list = myImports.get_categorical_columns_list(df)
    numerical_columns_list = myImports.get_numerical_columns_list(df)

    myTransformations = Transforming(df)
    myTransformations.categorical_columns_to_dummy(categorical_columns_list)
    df = myTransformations._df
    df.head()

Categorical Columns
['Area', 'Marital', 'Gender', 'Churn', 'Techie', 'Contract', 'Port_modem', 'Tablet', 'InternetService', 'Phone', 'Multiple', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaperlessBilling', 'PaymentMethod']

Numerical Columns
['Population', 'Children', 'Age', 'Income', 'Outage_sec_perweek', 'Email', 'Contacts', 'Yearly_equip_failure', 'Tenure', 'MonthlyCharge', 'Bandwidth_GB_Year']

Transforming init

Got Dummy variables
['Area_Suburban', 'Area_Urban', 'Marital_Married', 'Marital_Never Married', 'Marital_Separated', 'Marital_Widowed', 'Gender_Male', 'Gender_Nonbinary', 'Churn_Yes', 'Techie_Yes', 'Contract_One year', 'Contract_Two Year', 'Port_modem_Yes', 'Tablet_Yes', 'InternetService_Fiber Optic', 'InternetService_None', 'Phone_Yes', 'Multiple_Yes', 'OnlineSecurity_Yes', 'OnlineBackup_Yes', 'DeviceProtection_Yes', 'TechSupport_Yes', 'StreamingTV_Yes', 'StreamingMovies_Yes', 'PaperlessBilling_Yes', 'PaymentMethod_Credit Card (automatic)', 'PaymentMethod_Electronic Check', 'PaymentMethod_Mailed Check']
           Area_Suburban  Area_Urban  Marital_Married  Marital_Never Married  \
CaseOrder
1                      0           1                0                      0
2                      0           1                1                      0
3                      0           1                0                      0
4                      1           0                1                      0
5                      1           0                0                      0

           Marital_Separated  Marital_Widowed  Gender_Male  Gender_Nonbinary  \
CaseOrder
1                          0                1            1                 0
2                          0                0            0                 0
3                          0                1            0                 0
4                          0                0            1                 0
5                          1                0            1                 0

           Churn_Yes  Techie_Yes  ...  OnlineSecurity_Yes  OnlineBackup_Yes  \
CaseOrder                         ...
1                  0           0  ...                   1                 1
2                  1           1  ...                   1                 0
3                  0           1  ...                   0                 0
4                  0           1  ...                   1                 0
5                  1           0  ...                   0                 0

           DeviceProtection_Yes  TechSupport_Yes  StreamingTV_Yes  \
CaseOrder
1                             0                0                0
2                             0                0                1
3                             0                0                0
4                             0                0                1
5                             0                1                1

           StreamingMovies_Yes  PaperlessBilling_Yes  \
CaseOrder
1                            1                     1
2                            1                     1
3                            1                     1
4                            0                     1
5                            0                     0

           PaymentMethod_Credit Card (automatic)  \
CaseOrder
1                                              1
2                                              0
3                                              1
4                                              0
5                                              0

           PaymentMethod_Electronic Check  PaymentMethod_Mailed Check
CaseOrder
1                                       0                           0
2                                       0                           0
3                                       0                           0
4                                       0                           1
5                                       0                           1

[5 rows x 28 columns]

Complete details in df_with_dummies.txt file

,Population,Area,Children,Age,Income,Marital,Gender,Churn,Outage_sec_perweek,Email,...,OnlineSecurity_Yes,OnlineBackup_Yes,DeviceProtection_Yes,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes,PaperlessBilling_Yes,PaymentMethod_Credit Card (automatic),PaymentMethod_Electronic Check,PaymentMethod_Mailed Check
CaseOrder,,,,,,,,,,,,,,,,,,,,,
1,38,Urban,0,68,28561.99,Widowed,Male,No,7.978323,10,...,1,1,0,0,0,1,1,1,0,0
2,10446,Urban,1,27,21704.77,Married,Female,Yes,11.699080,12,...,1,0,0,0,1,1,1,0,0,0
3,3735,Urban,4,50,9609.57,Widowed,Female,No,10.752800,9,...,0,0,0,0,0,1,1,1,0,0
4,13863,Suburban,1,48,18925.23,Married,Male,No,14.913540,15,...,1,0,0,0,1,0,1,0,0,1
5,11352,Suburban,0,83,40074.19,Separated,Male,Yes,8.147417,16,...,0,0,0,1,1,0,0,0,0,1

In [126]:
   
    categorical_columns_list = myImports.get_categorical_columns_list(df)
    numerical_columns_list = myImports.get_numerical_columns_list(df)

    mySampling = Sampling()
    df = myImports.filter_df_by_columns(df, numerical_columns_list)
    target = "MonthlyCharge"
    stratif_by = "Churn_Yes"
    x_train, x_test, y_train, y_test = mySampling.stratified_sampling(df, target, stratif_by)

Categorical Columns
['Area', 'Marital', 'Gender', 'Churn', 'Techie', 'Contract', 'Port_modem', 'Tablet', 'InternetService', 'Phone', 'Multiple', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaperlessBilling', 'PaymentMethod']

Numerical Columns
['Population', 'Children', 'Age', 'Income', 'Outage_sec_perweek', 'Email', 'Contacts', 'Yearly_equip_failure', 'Tenure', 'MonthlyCharge', 'Bandwidth_GB_Year', 'Area_Suburban', 'Area_Urban', 'Marital_Married', 'Marital_Never Married', 'Marital_Separated', 'Marital_Widowed', 'Gender_Male', 'Gender_Nonbinary', 'Churn_Yes', 'Techie_Yes', 'Contract_One year', 'Contract_Two Year', 'Port_modem_Yes', 'Tablet_Yes', 'InternetService_Fiber Optic', 'InternetService_None', 'Phone_Yes', 'Multiple_Yes', 'OnlineSecurity_Yes', 'OnlineBackup_Yes', 'DeviceProtection_Yes', 'TechSupport_Yes', 'StreamingTV_Yes', 'StreamingMovies_Yes', 'PaperlessBilling_Yes', 'PaymentMethod_Credit Card (automatic)', 'PaymentMethod_Electronic Check', 'PaymentMethod_Mailed Check']

Sampling init
(7000, 38)
(7000,)
(3000, 38)
(3000,)